<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-img src="assets/about1.png"></ion-img>
  </div>
  <p>Este é um aplicativo teste para a aula de aplicações híbridas. Feito pelos alunos:</p>
<ul>
  <li>Gabriel Amorim</li>
  <li>Gabriel Argento</li>
  <li>Julie Claro</li>
  <li>Pedro Lucas</li>
  <li>Pedro: Ricardo</li>
  <li>Richardson</li>
</ul>
<p>Esse aplicativo serve para documentar o manual de como usar nosso site de ão de documentos</p>
<p>Versão 1.0</p>